@import '../../main/variables.scss';

.drag-and-drop-uploader {
  .dropzone {
    border: 2px dashed #cccccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border 0.2s ease-in-out;

    &.active {
      border-color: #3b82f6;
    }

    .upload-icon {
      margin-bottom: 10px;
      color: #3b82f6;
    }

    .upload-text {
      p {
        margin: 0;
        font-size: 16px;
        color: #555555;

        .file-link {
          color: #3b82f6;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .file-info {
    margin-top: 10px;

    p {
      font-size: 14px;
      color: #333333;
    }
  }

  .btn-primary {
    background-color: #3b82f6;
    border-color: #3b82f6;

    &:disabled {
      background-color: #cccccc;
      border-color: #cccccc;
      &:hover {
        background-color: $disabled-background-color !important;
        color: $disabled-color !important;
        border-color: $disabled-border-color !important;
      }
    }
  }
}
