.value {
  width: 150px;
}
.text {
  width: 220px;
}

.text-container {
  width: 320px;
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px inset;
}
.custom-input-wrapper {
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px inset;
}
.view-site {
  border: none !important;
}
.custom-tooltip {
  max-width: 250px;
  white-space: nowrap;
  text-align: left;
}

.publish-view-site-btn {
  .view-site-btn {
    &:hover {
      background-color: var(--background-color-dark-blue) !important;
      color: var(--text-color-white) !important;
    }
  }

  .view-site {
    color: var(--text-color-white) !important;
  }

  .publish-btn {
    background-color: var(--background-color-primary) !important;

    &:hover {
      color: var(--text-color-white) !important;
    }
  }
}

.disabled-input {
  &::-webkit-scrollbar {
    display: none;
  }
}

/** seoSetting Component */

.seo-settings-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .seo-settings-panel {
    .seo-settings-header {
      .back-button {
        &:hover {
          background-color: var(--background-color-light-grey) !important;
        }
      }
    }

    .seo-settings-content {
      .seo-input-group {
        .tag-input-container {
          min-height: 40px;
          height: 80px;
          max-height: 80px;
        }
      }
    }
  }
}

.custom-modal {
  &:has(.seo-settings-overlay) {
    height: 360px !important;
    width: 380px !important;

    .seo-btn {
      display: none !important;
    }

    .custom-input-wrapper {
      display: none !important;
    }

    .publish-view-site-btn {
      display: none !important;
    }
  }

  .seo-btn {
    &:hover {
      background-color: var(--background-color-light-grey) !important;
      color: var(--icon-color-black) !important;
    }
  }
}
