.public-sidebar-container {
  border-right: 1px solid rgba(128, 128, 128, 0.1);
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  height: calc(100vh - 24px);
  position: sticky;
  top: 24px;
  display: block;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden !important;
  scrollbar-width: thin;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    min-width: 180px;
  }

  @media screen and (max-width: 768px) {
    top: 38px !important;
  }
}
