.domain-list-item {
  justify-content: space-between;
  height: 10px;
  width: 100%;
  border: black;
}
.cookie-list-parent-item {
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  margin: 0;
  padding: 7.5px 15px;
  color: #bdbdbd;
  max-width: 638px;
  height: 2.25rem;
}
