.page-name {
  font-size: 40px !important;
}

.main-page-content-container {
  min-height: 95vh;
}

.doc-review-container .doc-content-container {
  max-width: 800px;
  width: 800px;
}

.public-page-empty {
  height: 500px;
  pointer-events: none;

  .public-page-empty-content {
    .doc-icon {
      font-size: 50px;
    }
    .doc-message {
      font-size: 30px;
      font-weight: 500;
    }
  }
}
