.update-status-component {
  width: 300px;
  position: fixed;
  margin-right: 1%;
  bottom: 2rem;
  right: 0rem;
  border-radius: 0.7rem;
  background-color: antiquewhite;
  z-index: 1200;

  .progress {
    height: 0.25rem !important;
  }

  button {
    outline: none !important;
  }
}
