:root {
  /** Powered By */
  --confetti-x-position: 50%;
  --confetti-y-position: 50%;
  --text-color-orange: #f63;

  /**  Background Color */
  --background-color-dark-blue: #0062cc;
  --background-color-light-grey: #0000000d;
  --background-color-white: #ffffff;
  --background-color-black: #000000;
  --background-color-soft-grey: #f7f7f5;
  --background-color-neutral-gray: #f8f8f8;

  /** Bootstrap Color */
  --background-color-primary: #007bff;
  --background-color-danger: #dc3545;
  --background-color-secondary: #6c757d;

  /** Icon Color */
  --icon-color-dark-grey: #383636;
  --icon-color-grey: #777272;
  --icon-color-black: #37352f;

  /** Checkbox color */
  --checkbox-color-primary: #007bff;

  /** Text Color */
  --text-color-white: #ffffff;
  --text-color-grey: #637288;
  --text-color-black: #37352f;

  /** Tiptap Variables */
  --icon-model-hover: #f0f0f0;

  --breadcrumb-container-hover: #f1f1f1;
  --breadcrump-segment-hover: #dbdbdb;

  --callout-info-border-color: #2196f3;
  --callout-info-background-color: #e3f2fd;

  --callout-warning-border-color: #ff9800;
  --callout-warning-background-color: #fff3e0;

  --callout-error-border-color: #f44336;
  --callout-error-background-color: #ffebee;

  --callout-success-border-color: #4caf50;
  --callout-success-background-color: #e8f5e9;

  --callout-important-border-color: #f44336;
  --callout-important-background-color: rgb(253, 235, 236);

  --callout-tip-border-color: #2196f3;
  --callout-tip-background-color: #e0e0e0;

  /** sidebar */
  --sidebar-background-color-light-grey: #f9f9f9;
  --language-theme-color: #f9f9f9;

  /** Border Colors */
  --border-color-light-grey: #0000000d;
  --border-color-black: #000000;

  /** Globally used variable for click position */
  --x-axis: 0px;
  --y-axis: 0px;
}

$font-normal: 14px;
$font-medium: 12px;
$font-small: 10px;
$font-large: 16px;

$theme-color: #6c757d;
$secondary-color: #f7f7f5;
$light-grey: #fafafa;
$outline-color: #e6dbd4;
$border-radius: 4px;
$text-color: #37352f;
$text-color-dark: #212121;
$alert-color: #ff5b61;
$success-color: #3b7837;
$border-color: rgba(227, 228, 230, 0.7);
$grey: rgba(0, 0, 0, 0.05);
$lightblackborder: #0000001f;
$indentation: #00000010;
$post-background-color: #f1faf5fb;
$get-background-color: #f5e9dada;
$put-background-color: #f7f6e2ef;
$patch-background-color: #e4d9cd;
$delete-background-color: #f1dfe1ef;
$button-background-hover: rgba(128, 128, 128, 0.164);
$button-active-color: rgba(128, 128, 128, 0.295);

$on-this-page-hover-color: black;
$disabled-color-page: #dddddd;
$footer-color: #777272;

$disabled-background-color: #cccccc;
$disabled-color: #fff;
$disabled-border-color: #cccccc;
$text-color-black: #000;
$background-color-white: #fff;

$font-extra-large: 20px;
$font-large-l: 18px;
$font-medium-m: 16px;
$font-normal-n: 14px;
$font-small-s: 12px;
$font-extra-small: 10px;

$gap-small: 4px;
$gap-medium: 8px;
$gap-normal: 12px;
$gap-small-large: 16px;
$gap-large: 20px;
$gap-extra-large: 24px;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;
