//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.
$alert-color: #cc0000;

#child-accordion > .card {
  border-radius: 0px;
  border: none;
  .collapse {
    .card-body {
      padding: 0 0 0 15px !important;
    }
  }
  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    height: 40px !important;
    border-radius: 0px;
    border: none !important;

    h5.mb-0 {
      float: left;
      width: 100%;
    }
    .btn-group {
      visibility: hidden;
      display: flex;
      margin: 0px;
      height: 100%;
      border-radius: 0px;
      button.btn.btn-secondary {
        border-radius: 0px;
        background: rgb(237, 237, 237);
        border: 0px;
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        color: rgba(0, 0, 0, 0.4);
      }
      .dropdown-menu {
        border-radius: 0px;
        transform: translate3d(-119px, 40px, 0px) !important;
        margin: 0px;
      }
    }
    .show {
      visibility: visible;
    }
  }

  .card-header:hover {
    background: rgb(237, 237, 237);
    .btn-group {
      visibility: visible;
    }
  }
}

.dropdown-label {
  color: #4f4f4f;
  font-size: 13px !important;
  margin: 0;
  font-weight: 400 !important;
  margin-bottom: 10px;
}

.dropdown-validation {
  background: #fff;
  border: none;
  padding: 0;
  font-size: 12px;
  color: #d61124;
  font-weight: 400;
}
.delete-subpage-btn {
  &:hover {
    background-color: var(--background-color-danger) !important;
    color: white !important;
  }
}
