.body-sub-type {
  color: rgba(128, 128, 128, 0.588);
  font-size: 12px;
}

.body-tabs {
  font-size: 12px;
  box-sizing: border-box;
}

.raw-type {
  border-radius: 4px 0px 0px 4px;
}

.body-description {
  border-radius: 0px 4px 4px 0px;
  border-left: 0px !important;
}
