.response-details-items {
  font-size: 11px;
}

.tab-response {
  border-radius: 4px 0px 0px 4px;
  font-size: 12px;
}

.tab-header {
  border-radius: 0px 4px 4px 0px;
  border-left: 0px !important;
  font-size: 12px;
}

.headers-container {
  font-size: 12px;
}
