/* src/components/RunTabs.css */
.tabs button {
  margin-left: 5px;
  margin-top: 10px;
  padding: 8px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.tabs button.active {
  background-color: #ccc;
}

table {
  margin-top: 10px;
  width: 50%;
  border-collapse: collapse;
}

// table, th, td {
//   border: 1px solid black;
// }

th,
td {
  padding: 8px;
  text-align: left;
}
