//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

#custom-login-heading {
  color: #0f0f0f;
  font-size: 50px;
  padding-top: 150px;
  padding-bottom: 30px;
}

#custom-login-button {
  a {
    color: #fcfcfc;
  }
}
